body{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #D6A40C;
    color: #11538A;
    margin: 0px 0px 30px 0px;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 0% 2%;
    background-color: #FF6347;
    color: black;
}

#logo{
    background-image: url(../img/astronaut.png);
    background-size: cover;
    height: 6vh;
    width: 17%;
}

header>div{
    display: flex;
    justify-content: flex-start;
    width: 21%;
    align-items: center;
}

header>div p{
    padding-left: 20px;
}

.menu {
    width: 60%;
}

.menu ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0;
    height: 8vh;
    align-items: center;
}

.menu ul li{
    list-style: none;
    text-transform: uppercase;
}

h1{
    color: #2B055A;
    font-size: 60px;
    font-weight: 300;
}

h2{
    color: #043156;
    font-size: 40px;
}

h3{
    font-size: 22px;
    font-style: italic;
}

.titulo-javascript{
    color: #2B055A;
}

.titulo-html{
    color: #043156;
}

.titulo-css{
    color: #622EA4;
}

section{
    width: 80%;
    margin: 0 auto;
}

section section{
    width: 100%;
}

.exemplo-1{
    background-color:#262262;
    padding: 1%;
    color: #d3d6db;
}

#exemplo-1{
    color: #f4a32c;
}

.form-palpite{
    width: 97%;
}
.form{
    padding: 30px 10px;
    width: 100%;
    display: block;
    align-items: center;
}

.form input{
    cursor: pointer;
    background-color: #D6A40C;
    box-shadow: var(--box-shadow);
    color: #fff;
    border: 0;
    display: block;
    font-size: 16px;
    margin: 10px 0 30px;
    padding: 10px;
    width: 100%;

}

p{
    font-size: 20px;
    line-height: 1,5;
}

img{
    width: 100%;
}

ul{
    list-style-type: none;
    line-height: 2;
    padding-left: 0;
}

a{
    text-decoration: none;
    color: #622EA4;
    font-weight: 700;
}

.principal{
    background: #FF6347;
    height: 40px;
    max-width: 80%;
    margin: auto;
}

.principal a{
    color: #fff;
    text-decoration: underline;
    font-weight: normal;
}

.principal li{
    display: inline-block;
    line-height: 2.5;
    margin: 0 120px;
}

button{
    background-color: #11538A;
    color: #fff;
    border: none;
    padding: 2px 20px;
    border-radius: 5px;
}

.rodape {
    background-color: #FF6347;
    text-align: center;
    color: #043156;
    padding: 20px;
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

.rodape p{
    margin: 15px;
}